body {
  max-width: 1200px;
  margin: 0 10px;
}

.content {
  width: 1200px ;
  height: 999px;
}

.loc {
  width:400px;
  height: 190px;
  background-color: red;
}
.fvf {
  font-size: 3rem;
  color:#000;
  text-align: center;
  text-decoration: none;
}